<div class="selection-item-container">
  {{firstName}} - {{lastName}}
  <br />
  <span class="selection-item-text" #handle="abc">Something: </span>
  {{somethingElse}}

  <div>
    Nested:
    <span #handle="nestedText">{{nested}}</span>
    <div>
      {{level1}}
      <div>
        {{level2}}
        <div>
          {{level3}}
          <div>{{deeplyNested}}</div>
          {{level3}}
        </div>
        {{level2}}
      </div>
      {{level1}}
    </div>
  </div>
  {{text}}
  <br />
  {{text}}

  <div class="change-text-btn" #handle="changeTextButton">Click me! <span>{{clicked}}</span></div>
</div>
